@{
    ViewData["Title"] = "Liên Hệ";
}

<section class="" style="height: 120px; background-color: #252930; margin-bottom: 5px">
    <div></div>
</section>

<section class="page-header" style="background-image: url(/images/backgrounds/page-header-bg-1-1.jpg);">
    <div class="container">
        <h2>Liên Hệ Chúng Tôi</h2>
    </div><!-- /.container -->
</section><!-- /.page-header -->

<div class="contact-one">
    <div class="container">
        <div class="block-title-two text-center" style="padding-top: 120px">
            <p>Liên Hệ</p>
            <h3>Kết nối Cùng <br>Dấu Ấn Ngàn Năm</h3>
        </div><!-- /.block-title-two -->
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-one__box">
                    <h3>Thời Gian Hoạt Động</h3>
                    <p>Hàng ngày: 8.30 AM – 6.00 PM</p>
                </div><!-- /.contact-one__box -->
                <div class="contact-one__box">
                    <h3>Thông Tin Liên Hệ</h3>
                    <p>Khu Công Nghệ Cao Hòa Lạc, <br> Thạch Thất, Hà Nội, Việt Nam </p>
                    <p>
                        <a href="mailto:example@muzex.com">example@muzex.com</a> <br> <a href="tel:(84) 495-9400-326">(84) 495-9400-326</a>
                    </p>
                </div><!-- /.contact-one__box -->
                <div class="contact-one__box">
                    <h3>Mạng Xã Hội</h3>
                    <div class="contact-one__box-social">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-vimeo"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                    </div><!-- /.contact-one__box-social -->
                </div><!-- /.contact-one__box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <form action="" class="contact-form-validated contact-one__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Nhập tên của bạn*">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" placeholder="Nhập email của bạn*">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" placeholder="Tiêu đề">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <select class="selectpicker">
                                <option value="Góp ý & Phản hồi">Góp ý & Phản hồi</option>
                                <option value="Hợp tác & Đối tác">Hợp tác & Đối tác</option>
                                <option value="Giải đáp thắc mắc">Giải đáp thắc mắc</option>
                                <option value="Khác">Khác</option>
                            </select><!-- /#.selectpicker -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Lời Nhắn Của Bạn"></textarea>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <button class="thm-btn contact-one__btn" type="submit">Gửi Ngay</button>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form><!-- /.contact-one__form -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.contact-one -->

<div class="contact-map-one">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8314.902068711319!2d105.52653306763699!3d21.012020283443302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abc60e7d3f19%3A0x2be9d7d0b5abcbf4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQgSMOgIE7hu5lp!5e1!3m2!1svi!2s!4v1741770204818!5m2!1svi!2s"
                style="height: 550px" class="google-map__contact" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div><!-- /.container -->
</div><!-- /.contact-map-one -->

<div class="contact-box-one">
    <div class="container">
        <div class="row high-gutters justify-content-around">
            <div class="col-lg-5">
                <div class="contact-box-one__single">
                    <h3>Lời Cảm Ơn</h3>
                    <p>
                        Dấu Ấn Ngàn Năm trân trọng cảm ơn bạn đã dành thời gian ghé thăm. Sự quan tâm của bạn
                        là nguồn động lực để chúng tôi tiếp tục lan tỏa những giá trị lịch sử và văn hóa.
                    </p>
                </div><!-- /.contact-box-one__single -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-5">
                <div class="contact-box-one__single">
                    <h3>Hãy Giữ Liên Lạc</h3>
                    <p>
                        Nếu bạn có bất kỳ chia sẻ, ý tưởng hoặc mong muốn đồng hành cùng chúng tôi, đừng ngần ngại liên hệ.
                        Mỗi đóng góp của bạn đều giúp lịch sử trở nên sống động hơn trong hiện tại.
                    </p>
                </div><!-- /.contact-box-one__single -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.contact-box-one -->

<partial name="_ExploreHistory" />