<section class="cta-one" style="background-image: url(/images/shapes/cta-bg-1-1.jpg);">
    <div class="container text-center">
        <h3>Hành Trình Ngược Dòng Lịch Sử</h3>
        <p>
            Những bảo vật ngàn năm đang chờ bạn khám phá. Cùng tìm hiểu những </br>
            câu chuyện và sự kiện đã tạo nên lịch sử Việt Nam.
        </p>
        <div class="cta-one__btn-block">
            <a href="#" class="thm-btn cta-one__btn-two">Khám Phá Ngay</a><!-- /.thm-btn cta-one__btn-two -->
        </div>
        <!-- /.cta-one__btn-block -->
    </div>
    <!-- /.container -->
</section>