<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from ashik.templatepath.net/muzex-preview-files/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Feb 2025 13:32:05 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicon/site.webmanifest">

    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/hover-min.css">
    <link rel="stylesheet" href="~/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/chatbot.css" />

</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><!-- /.preloader -->

    <div class="page-wrapper">
        <nav class="main-nav-one stricky main-nav-one__home-three">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-box">
						<a href="/Home/Index">
                            <img src="~/images/logodauanngannam.png" alt="" width="150" >
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class="main-nav__navigation-box">
                            <li>
                                <a href="/Home/Index">Trang Chủ</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Bộ Sưu Tập</a>
                                <ul>
                                    <li><a href="/Product">Bộ sư tập</a></li>
                                   <!-- <li><a href="collection-grid.html">Collections Grid</a></li>
                                     <li><a href="collection-masonary.html">Collections Masonary</a></li> -->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul>
                                    <li><a href="/Blogs">Tin Tức</a></li>
                                    <li><a href="/Moment/Index">Khoảnh Khắc</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Giới Thiệu</a>
                                <ul>
                                    <li><a href="/AboutUs/Index">Về Chúng Tôi</a></li>
                                    <li><a href="/Team/Index">Đội Ngũ</a></li>
                                    <li><a href="/FAQ/Index">Hỏi Đáp</a></li>
                                </ul>
                            </li>
                            <li><a href="/Contact/Index">Liên Hệ</a></li>
                        </ul><!-- /.main-nav__navigation-box -->
                    </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__right">
                        <a href="#" class="search-popup__toggler"><i class="muzex-icon-search"></i></a>
                        <a class="sidemenu-icon side-content__toggler" href="#"><i class="muzex-icon-menu"></i></a>
                    </div><!-- /.main-nav__right -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </nav><!-- /.main-nav-one -->

        <!-- Render Body Start-->
        @RenderBody()
        <!-- Render Body End-->

        <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widget footer-widget__about">
                                <p>Chào mừng bạn đến với <strong>Dấu Ấn Ngàn Năm</strong> – nơi lưu giữ những câu chuyện lịch sử và dấu ấn văn hóa Việt Nam qua các thời kỳ.</p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-2">
                            <div class="footer-widget footer-widget__links">
                                <h3 class="footer-widget__title">Thông Tin</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links-list list-unstyled">
                                    <li><a href="/AboutUs/Index">Về Chúng Tôi</a></li>
                                    <li><a href="/Collection/Index">Bộ sưu tập</a></li>
                                    <li><a href="/News/Index">Tin Tức</a></li>
                                    <li><a href="/Moment/Index">Khoảnh Khắc</a></li>
                                    <li><a href="/FAQ/Index">Hỏi Đáp</a></li>
                                </ul><!-- /.footer-widget__links-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3">
                            <div class="footer-widget footer-widget__contact">
                                <h3 class="footer-widget__title">Liên Hệ</h3><!-- /.footer-widget__title -->
                                <p>Khu CNC Hòa Lạc, Thạch <br> Thất, Hà Nội, Việt Nam </p>
                                <p><a href="tel:(84) 495-9400-326">(84) 495-9400-326</a></p>
                                <p><a href="mailto:example@muzex.com">example@muzex.com</a></p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3">
                            <div class="footer-widget footer-widget__open-hrs">
                                <h3 class="footer-widget__title">Giờ Hoạt Động</h3><!-- /.footer-widget__title -->
                                <p>Hàng ngày: 8.30AM–6.00PM</p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="inner-container">
                        <p>&copy; Copyright 2020 Muzex.</p>
                        <a href="/Home/Index" class="site-footer__bottom-logo">
                            <img src="~/images/logo-footer-1.png" alt="">
                        </a>
                        <div class="site-footer__bottom-links">
                            <a href="#">Điều khoản & Chính sách.</a>
                        </div><!-- /.site-footer__bottom-links -->
                    </div><!-- /.inner-container -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    <div class="chatbot"> <!-- Chatbot Widget -->
        <div id="chatbot-widget">
            <div id="chat-header" onclick="toggleChat()">💬 Hỏi Đáp</div>
            <div id="chat-body" style="display:none;">
                @Html.AntiForgeryToken()
                <div id="chat-messages"></div>
                <input type="text" id="chat-input" placeholder="Nhập câu hỏi..." onkeydown="handleKey(event)">
            </div>
        </div>
    </div>

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Nhập tên sản phẩm....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div> <!-- /.search-popup -->

    <div class="side-content__block">
        <div class="side-content__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-content__block-overlay -->
        <div class="side-content__block-inner ">
            <a href="index.html">
                <img src="~/images/logo-1-1.png" alt="" width="143">
            </a>
            <div class="side-content__block-about">
                <h3 class="side-content__block__title">Về Chúng Tôi</h3>
                <p>Chào mừng bạn đến với Dấu Ấn Ngàn Năm – nơi lưu giữ những câu chuyện lịch sử và dấu ấn văn hóa Việt Nam qua các thời kỳ.</p>
            </div>
            <hr class="side-content__block-line" />
            <div class="side-content__block-contact">
                <h3 class="side-content__block__title">Liên Hệ Chúng Tôi</h3>
                <ul class="side-content__block-contact__list">
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-map-marker"></i>
                        Khu CNC Hòa Lạc, Thạch Thất, Hà Nội, Việt Nam
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:(84) 495-9400-326">(84) 495-9400-326</a>
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:example@muzex.com">example@muzex.com</a>
                    </li>
                    <li class="side-content__block-contact__list-item">
                        <i class="fa fa-clock"></i>
                        Hàng ngày: 8.30 AM – 6.00 PM
                    </li>
                </ul>
            </div><!-- /.side-content__block-contact -->
            <p class="side-content__block__text site-footer__copy-text"><a href="#">Muzex</a> <i class="fa fa-copyright"></i> 2020 All Right Reserved</p>
        </div><!-- /.side-content__block-inner -->
    </div><!-- /.side-content__block -->

    <div class="side-menu__block">
        <a href="#" class="side-menu__toggler side-menu__close-btn">
            <i class="fa fa-times"></i>
            <!-- /.fa fa-close -->
        </a>

        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->

        <div class="side-menu__block-inner ">
            <a href="index.html" class="side-menu__logo"><img src="~/images/logo-light-1-1.png" alt="" width="143"></a>
            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <p class="side-menu__block__copy">(c) 2020 <a href="#">Muzex</a> - All rights reserved.</p>
            <div class="side-menu__social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Template JS -->

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/TweenMax.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.lettering.min.js"></script>
    <script src="~/js/jquery.circleType.js"></script>

    <!-- Custom Scripts -->
    <script src="~/js/theme.js"></script>
    <script src="~/js/chatbot.js"></script>
</body>


<!-- Mirrored from ashik.templatepath.net/muzex-preview-files/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Feb 2025 13:32:11 GMT -->
</html>