<!DOCTYPE html>
<html lang="en" dir="ltr">


<!-- Mirrored from ashik.templatepath.net/muzex-preview-files/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Feb 2025 13:32:05 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logoDauAnNganNam.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logoDauAnNganNam.png">
    <link rel="manifest" href="~/images/favicon/site.webmanifest">

    <!-- Fonts URL -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700%7CPlayfair+Display:400,500,600,700,800,900%7CWork+Sans:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/hover-min.css">
    <link rel="stylesheet" href="~/css/muzex-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/chatbot.css" />

</head>

<body>
    <!-- Header -->
    <header class="bg-primary text-white">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <div class="flex items-center">
                    <i class="ri-phone-line mr-2"></i>
                    <span>+12 345 6789 0</span>
                </div>
                <div class="flex items-center">
                    <i class="ri-mail-line mr-2"></i>
                    <span>support@home.com</span>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <a href="#" class="text-white hover:text-gray-200">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="#" class="text-white hover:text-gray-200">
                    <i class="ri-facebook-fill"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- Navigation -->
    <nav class="bg-white shadow-sm py-4">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="w-16 h-16 bg-primary flex items-center justify-center">
                <span class="text-white font-['Pacifico'] text-xl">logo</span>
            </div>
            <div class="hidden md:flex space-x-8">
                <a href="/Moment" class="text-gray-800 hover:text-primary font-medium">Trang chủ</a>
                <a href="/Ais/Index" class="text-gray-800 hover:text-primary font-medium">Trợ lý ảo</a>
                <a href="/Moment/Collection" class="text-gray-800 hover:text-primary font-medium">Bộ sưu tập</a>
                <a href="/Moment/Moment" class="text-gray-800 hover:text-primary font-medium">Blog</a>
                <a href="/Moment/AboutMe" class="text-gray-800 hover:text-primary font-medium">Giới thiệu</a>
            </div>
            <button class="bg-primary text-white px-6 py-2 rounded-button whitespace-nowrap hover:bg-opacity-90 transition">
                Đăng nhập
            </button>
        </div>
    </nav>
        <!-- Render Body Start-->
        @RenderBody()
        <!-- Render Body End-->
        <!-- Render Body End-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/TweenMax.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.lettering.min.js"></script>
    <script src="~/js/jquery.circleType.js"></script>

    <!-- Custom Scripts -->
    <script src="~/js/theme.js"></script>
    <script src="~/js/chatbot.js"></script>
</body>


<!-- Mirrored from ashik.templatepath.net/muzex-preview-files/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Feb 2025 13:32:11 GMT -->
</html>