#chat-toggle {
    width: 65px;
    height: 65px;
    background: url('/images/voice-chat/ai-avatar-1.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 40px;
    right: 35px;
    z-index: 9999;
}

#chatbot-widget.closed {
    display: none;
}

#chat-toggle.closed {
    display: block;
}

#chat-toggle.open {
    display: none;
}

#chatbot-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 330px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#chat-header {
    background: #a9312e;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

#chat-body {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    max-height: 700px;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
}

#chat-messages {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#chat-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-bubble {
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 90%;
    display: inline-block;
    clear: both;
}

.bot {
    background-color: #f1f1f1;
    float: left;
}

.user {
    background-color: #a9312e;
    color: white;
    float: right;
}
